html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Circular';
  overflow-x: hidden;
}

h1,
h2,
.quote {
  font-family: 'Recoleta';
}

h1 {
  font-size: 7.2rem;
  line-height: 8.2rem;
}

h2 {
  font-size: 4.2rem;
  line-height: 4.2rem;
}

p {
  font-family: 'Circular';
}

.plg {
  font-size: 2.4rem;
}

.pmd {
  font-size: 2.2rem;
}

.ps {
  font-size: 1.6rem;
}

.pxs {
  font-size: 1.4rem;
}

.quotep {
  font-size: 4.2rem;
  line-height: 5.2rem;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Recoleta';
  src: url("/assets/fonts/RecoletaRegularDEMO/font.woff2");
}

@font-face {
  font-family: 'Circular';
  src: url("/assets/fonts/Circular/CircularStd-Book.woff");
}

button {
  all: unset;
  font-size: 1.4rem;
}

.square-btn {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.circle-btn {
  width: 5rem;
  height: 5rem;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

#get-started-btn {
  background-color: #ffc265;
  color: #0b473f;
  margin-right: 3rem;
}

#play-video-btn {
  margin-right: 1rem;
}

#play-video-btn:before {
  content: '\25BA';
  position: relative;
  left: 1.95rem;
}

.aside-product {
  background: #fac6dd;
  position: absolute;
  top: 35.3rem;
  left: 55%;
  z-index: 1;
  width: 60rem;
  height: 66.7rem;
  border-top-left-radius: 48%;
  border-top-right-radius: 48%;
  color: #0b473f;
}

.aside-product img {
  width: 60rem;
  height: auto;
  position: relative;
  bottom: 20rem;
}

.aside-product-div {
  width: 41.65rem;
  position: relative;
  top: -16rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.aside-product-details {
  border-bottom: 1px #0b473f solid;
  margin-bottom: 1rem;
}

.aside-product-details:after {
  content: '\1F822';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  float: right;
  position: relative;
  top: -3.1rem;
  right: -3rem;
  font-size: 1.6rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
}

.product-title,
.product-price {
  font-family: 'Recoleta';
  font-weight: bold;
}

.product-title {
  font-size: 4.2rem;
  margin-bottom: 2rem;
}

.product-price {
  font-size: 3.2rem;
  margin-bottom: 0.25rem;
}

.hero {
  width: 100vw;
  height: 90rem;
  background-color: #0b473f;
  color: #ffffff;
  position: absolute;
  top: 0;
  z-index: 1;
}

.hero-text {
  width: 50rem;
  position: absolute;
  top: 23%;
  left: 12.25%;
}

h1 {
  margin-bottom: 4rem;
}

.hero-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ffffff;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.stat {
  font-family: 'Recoleta';
  font-size: 5.2rem;
}

.nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 12%;
  padding-right: 13.25%;
  position: absolute;
  top: 5rem;
  z-index: 2;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-branding,
.nav-links,
.account-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-branding {
  font-size: 2.4rem;
}

.logo-img {
  margin-right: 2rem;
}

.nav-links > a,
.account-links a {
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  padding: 1.5rem;
}

.account-links > a {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.account-links > a:hover {
  border: 1px #ffc265 solid;
}
/*# sourceMappingURL=style.css.map */