html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Circular';
  // overflow-x: hidden;
}

h1,
h2,
.quote {
  font-family: 'Recoleta';
}

h1 {
  font-size: $h1size;
  line-height: $h1lineheight;
}

h2 {
  font-size: $h2size;
  line-height: $h2lineheight;
}

p {
  font-family: 'Circular';
}

.plg {
  font-size: $plg;
}

.pmd {
  font-size: $pmd;
}

.ps {
  font-size: $ps;
}

.pxs {
  font-size: 1.4rem;
}

.quotep {
  font-size: $quotesize;
  line-height: $quotelineheight;
}
