@font-face {
  font-family: 'Recoleta';
  src: url('/assets/fonts/RecoletaRegularDEMO/font.woff2');
}

@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/Circular/CircularStd-Book.woff');
}
