// H1
$h1size: 7.2rem;
$h1lineheight: 8.2rem;

// H2
$h2size: 4.2rem;
$h2lineheight: 4.2rem;

// P
$plg: 2.4rem;
$pmd: 2.2rem;
$ps: 1.6rem;
$pxs: 1.4rem;

// Quotes
$quotesize: 4.2rem;
$quotelineheight: 5.2rem;
